@model DistributionUpdateToolWeb.Models.Client

@{
    ViewBag.Title = "New Client";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    string emailList = "";
    string pageTitle = (Model != null) ? "Edit " + Model.Name : "Add New Client";

    if (Model != null)
    {
        foreach (var email in Model.EmailAddresses)
        {
            emailList += $"{email.Email}; ";
        }
    }
}

<h2>@pageTitle</h2>

@using (Html.BeginForm("Save", "Clients"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.EmailAddresses)
        @Html.TextArea("TextEmailDistro", emailList, new { @class = "form-control" })
        <text>Paste your email distribution directly from outlook into the above textbox.</text>
    </div>

    @Html.HiddenFor(m => m.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}

