@model DistributionUpdateToolWeb.Models.Client

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th scope="col">Client Email</th>
            <th scope="col">Client Name</th>
            <th scope="col">Controls</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var email in Model.EmailAddresses)
        {
            <tr>
                <td>
                    @Html.ActionLink(email.Email, "Index", "Email", new { emailId = email.Id }, null)
                </td>
                <td>
                    @email.CustomerName
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Email", new { emailId = email.Id, clientId = Model.Id }, null) | @Html.ActionLink("Delete", "GetDelete", "Email", new { emailId = email.Id, clientId = Model.Id }, new { @id = $"deleteEmail{email.Id}" })
                </td>
            </tr>

        }

        <tr>
            @using (Html.BeginForm("AddEmailAddress", "Clients", new { clientId = Model.Id }))
            {
                <td>
                    @Html.TextBox("NewEmailAddress", null, new { @class = "form-control" })
                </td>
                <td></td>
                <td>
                    <button type="submit" class="btn btn-link">Add new</button>
                </td>
            }
        </tr>
    </tbody>
</table>


@Html.Partial("_DeleteDialogue", Model)

