@model DistributionUpdateToolWeb.Models.Client

@{ 
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th scope="col">Client Distribution</th>
            <th scope="col">Controls</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var email in Model.EmailAddresses)
        {
            if (email.Id == ViewBag.EditEmailId)
            {
                <tr>
                    @using (Html.BeginForm("Details", "Clients", new { id = Model.Id, emailId = email.Id, edit = true }))
                    {
                        <td>
                            @Html.TextBox("EditEmailAddress", email.Email, new { @class = "form-control" })
                        </td>
                        <td>
                            <button type="submit" class="btn btn-link">Save</button> | @Html.ActionLink("Cancel", "Details", new { id = Model.Id, emailId = 0, edit = false })
                        </td>
                    }
                </tr>
            }
            else
            {
                <tr>
                    <td>@email.Email</td>
                    <td>
                        @Html.ActionLink("Edit", "EditEmailAddress", new { emailId = email.Id, clientId = Model.Id }) | @Html.ActionLink("Delete", "DeleteEmailAddress", new { id = email.Id, clientId = Model.Id }, new { @id = "deleteEmail" })
                    </td>
                </tr>
            }
        }

        <tr>
            @using (Html.BeginForm("AddEmailAddress", "Clients", new { clientId = Model.Id }))
            {
                <td>
                    @Html.TextBox("NewEmailAddress", null, new { @class = "form-control" })
                </td>
                <td>
                    <button type="submit" class="btn btn-link">Add new</button>
                </td>
            }
        </tr>
    </tbody>
</table>

