@model DistributionUpdateToolWeb.Models.EmailAddress
@{
    // Need to add functionality for new clients and emails using the single and full client view models.

    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editing @Model.CustomerName</h2>

@using (Html.BeginForm("Save", "Email"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.CustomerName)
        @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(m => m.Id)
    <a href="javascript:void(0);" onclick="history.go(-1);" class="btn btn-primary">Back to Details</a>
    <button type="submit" class="btn btn-primary">Save</button>
}